.body{
    margin: 0;
}

.detail-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 768px) {
    .detail-container {
        padding: 10px;
    }
}
.back-btn{
  padding: 6px;
  background: gray;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 6px;
}
.blog-like{
    background-color: red;
}
.blog-text{
    line-height: 1.9;
    font-size: 20px;
}

.comment-form{
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-top:40px;
  max-width:600px;
}

.comment-form input,
.comment-form textarea{
  padding:12px;
  border-radius:10px;
  border:1px solid #ccc;
}

.comment-form button{
  padding:12px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.comments-section{
  margin-top:40px;
}

/* .comment{
  padding:8px;
  border-radius:10px;
  background:#f8f6f6;
  margin-bottom:15px;
  display: flex;
  max-width: 600px;
}
.comment-details{
    margin-top: 13px;
}
.comment-img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 20px;
} */

.comment{
  padding: 8px;
  border-radius: 10px;
  background: #f8f6f6;
  margin-bottom: 15px;
  display: flex;
  max-width: 600px;
}

.comment-details{
  margin-top: 13px;
}

.comment-img{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .comment{
    max-width: 100%;
    padding: 10px;
  }

  .comment-img{
    width: 40px;
    height: 40px;
    margin: 10px;
  }

  .comment-details{
    margin-top: 8px;
    font-size: 0.9rem;
  }
}