.container{
  margin: 0 auto;
}
.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #f5f7fb;
  padding: 20px;
}

.contact-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

h2 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 20px;
  color: #666;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 12px;
  outline: none;
}

button {
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: gold;
  color: black;
}

.status {
  margin-top: 15px;
  font-size: 14px;
}
